/*
    CSS para el examen

    colores:

    fondo: #333333;
    fondo: cajas: #424242;
    linea: lightgray;
    boton: #007BFF;
    boton seleccionado: #0056b3;
*/

body {
  background-color: #333333;  /* 1- color de fondo */
  width: 90%;                   /* 2- ancho 90% */
  margin: 0 auto;               /* 3- centrar */
  font-family: sans-serif;
}

.container {
    text-align: center;
}

nav, main, footer {
    background-color: #424242;                 /* 4- color de fondo */
    border: 1px solid lightgray;
    border-radius: 15px;                         /* 5- redondear el borde */
    box-shadow: 0px 4px 10px rgba(0,0,0,0.5);  /* 6- sombra */
    margin: 10px auto;
    padding: 20px;
    text-align: center;    
}
.footer {
    padding: 0px;
    color: white;
}

.imageHome{
    border:black 4px solid;
    border-radius: 3%;
    width: 100%;               /* 7- tamanyo */
    max-width: 600px;          /* Se utiliza en im치genes y videos para asegurarse de que siempre llenen 
                                completamente el contenedor, manteniendo su relaci칩n de aspecto*/
    object-fit: cover; 
}

main img:not(.imageHome){
    border-radius: 50%;       /* 8- redondear la imagen*/
    width: 150px;
    height: 150px;    
    /* Se utiliza en im치genes y videos  para asegurarse de que siempre llenen 
    completamente el contenedor, manteniendo  su relaci칩n de aspecto*/
    object-fit: cover; 
}

.youtuber h2 {    
    color: white;
    font-size: 1.5em;
    margin: 10px 0;
}

.youtuber p {
    color: white;
    font-size: 1em;
}

#menu {
    /* 9- quita los puntos */
}

nav a {
    display: inline-block;           /* 10- haz que los li no sean de tipo bloque */
    border-left: 4px red solid;    /* 11- borde izquierdo rojo */
    padding-left: 10px;             
    margin: 0 10px;                  /* 12- separa el borde de la izquierda */
    color: white; /* 13- enlaces blancos */
    text-decoration: none; /* 14- sin subrayado */
}

nav a:hover {
    color: red; /* 15- cambia el color al subrayado*/
}


.button {
    padding: 10px 20px;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    /* animacion en css, para cambiar el color del boton, no visto en clase 
    pero yo te lo regalo ;) */
    transition: background-color 0.3s ease;
}
.button:hover {
    background-color: #0056b3; /* 16- cambia el color al boton*/
}

@media all and (max-width: 700px) {
    nav, main, footer {
        border-color: red; /* 17- cambia el color al BORDE*/
    }
    .button {
        background-color: red; /* 18- cambia el color al boton*/        
    }
    .button:hover {
        background-color: darkred; /* 19- cambia el color al boton*/
    }    
}
